body {text-align: center;
margin: 0;
padding-top: 800px;}
#profile{width: 175px;
margin-bottom: 50px;
border-radius: 50%;}

#welcome{position: absolute;height: 800px;color: rgb(245, 243, 239);left: 0;right:0;top: 0;bottom: 0;opacity:0.83 ;background:linear-gradient(rgb(228, 178, 203) 0%,rgb(32, 34, 116) 100%) ;width: 100%;height: 100%;display: table;z-index: 9;}
.menu {list-style: none;
position: fixed;
top: 50px;
right: 40px;
cursor:  pointer;
z-index: 10;}

.list {float: left;
color: rgb(32, 34, 116);
padding-top: 5px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 5px;
font-size: 25px;}
#myself{display: table-cell; position: relative; text-align: center; vertical-align: middle;}
p{max-width: 450px; margin: 25px auto; font-size: 17px; line-height: 1.3;color: rgb(66, 66, 99);}
#bio{background-color: deeppink;}
#hobbies {background-color: deepskyblue;}
#work {background-color: mediumslateblue;}
#vidoe {background-color: plum;}
#inspration {background-color: skyblue;}
#Contact {background-color: orchid;}